@font-face {
  font-family: 'digital7_mono';
  src: url('./fonts/digital7_mono.woff2') format('woff2'),
    url('./fonts/digital7_mono.svg#digital7_mono') format('svg');
}

body {
  font-size: 20px;
}
.main {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.calc {
  background-color: #80808030;
  width: 385px;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.calc-display-input {
  width: 360px;
  height: 60px;
  margin: 20px 0;
  border-radius: 6px;
  background-color: #1d1d1d;
  color: #66ef66;
  text-align: right;
  font-size: 65px;
  padding: 10px;
  font-family: 'digital7_mono', 'Arila', sans-serif;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.calc_button-row td {
  margin: 0 auto;
  padding: 5px;
}

.btn {
  width: 85px;
  height: 60px;
  background-color: #f4f4f4;
  font-size: 27px;
  color: #666666;
  text-transform: uppercase;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: 0.3s ease-in-out;
}

.btn-hover-red:hover,
.btn-hover-orange:hover,
.btn-hover-green:hover {
  background-color: #80808080;
}

input,
button {
  padding: 5px 15px;
  margin: 10px;
  border: 0;
  outline: 0;
  border-radius: 4px;
}
button {
  margin-left: 0;
  padding: 15px 24px;
}
.btn-shadow-off {
  animation-name: btn-shadow-off;
  box-shadow: none;
}

.codepen__wrap {
  width: 600px;
  height: 700px;
  right: 0;
  top: 50%;
}

.codepen {
  width: 100%;
  height: 100%;
}

#result {
  width: 382px;
}
