$grey-color: #666666;
$grey-color--dark-X1: #80808030;
$grey-color--dark-X2: #80808080;
$grey-color--light: #f4f4f4;

$black-color: #1d1d1d;
$black-color--light-X1: #00000022;
$black-color--light-X2: #00000025;

$green-color--light: #66ef66;


